@model IEnumerable<ProductItem> 

@{
    ViewData["Title"] = "Browse Products";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class = "container p-3">
    <div class = "row pt-8">
       <div class = "col-6">
           <h2 class="text-primary">
               Products Item List
           </h2>
      
    </div>
    </div>

<table class = "table table-bordered table-striped" style= "width:100%">
    <thead>
        <tr>    
           
            <th>
                Product Name
            </th>
            <th>
                Product Category
            </th>
            <th>
                Product Description
            </th>
            <th>
                Product Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
               

                <td width = "20%">
                    @obj.itemTitle
                </td>
                
                <td width = "20%">
                    @obj.category
                </td>
                <td width = "30%">
                    @obj.description
                </td>

                 <td width = "10%">
                    @obj.price
                </td>
                 <td>
                    <div class="w-75 btn-group" roles="group">
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@obj.itemId"
                        class ="btn btn-primary mx-2">Add To Cart </a> 
                        
                    </div>
                </td>
            </tr>
        }

    </tbody>

</table>
</div>


